---
- hosts: agent
  gather_facts: no
  pre_tasks:
    - name: install python 2
      raw: test -e /usr/bin/python || (sudo apt -y update && sudo apt install -y python-minimal)
      changed_when: False
    - setup:
  become: true
  roles:
    - role: elastic-search
    - role: kibana
    - role: load_balancer
    - role: logstash
...
